<h3 class="heading container">FOOD ITEMS</h3>
<div class="tag">
  <a *ngFor="let item of Tag" (click)="getFoodByTag(item)">{{ item }}</a>
</div>
<div id="order" class="order-container">
  <ul>
    <li *ngFor="let food of FoodList">
      <a>
        <img src="{{ food.imageUrl }}" alt="" />
        <div class="content">
          <div class="name">
            {{ food.name }}
          </div>
          <span class="favourite {{ food.favourite ? '' : 'not' }}">
            <i class="fa fa-heart" aria-hidden="true"></i>
          </span>
          <div class="product-item-footer">
            <div class="cook-time">
              <span> 🕑 </span>
              {{ food.CookTime }}
            </div>
          </div>
          <div class="price">
            {{ food.price | currency }}
          </div>
          <div>
            <!-- <button  routerLink="/checkout/{{food.id}}" type="submit" class="btn btn-primary">Order Now</button> -->
            <button
              type="submit"
              [disabled]="food.available == 'false' ? true : false"
              class="btn btn-primary"
              (click)="
                AddToCart(LoginUserDetails.id, LoginUserDetails.name, food.id)
              "
            >
              Add To Cart
            </button>
            <!-- <button type="submit" *ngIf="!food.available.toLowerCase()" class="btn btn-primary" >Out Of Stock</button> -->
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
