<div class="container2">
<h3 class="heading">Add Restaurant Details</h3>
<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong> Success!</strong> Your order has been placed
  <button (click)="CloseAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="CheckoutForm" (ngSubmit)="CollectOrder()">
    <div class="mb-3" > 
      <label for="exampleInputEmail1" class="form-label" >Name </label>
      <input   type="text"  class="form-control"  formControlName="CustomerName"  placeholder="Enter Your Name Here">
      
     

      <!-- <div *ngIf="Name?.invalid && Name?.touched">
      <small *ngIf="Name?.errors?.['required']" class="text-danger " > Name is Required</small>
      <small *ngIf="Name?.errors?.['minlength']" class="text-danger " > Minimum characters should be 3</small>
      <small *ngIf="Name?.errors?.['pattern']" class="text-danger " >only a-z ,A-Z character can be used</small>
    </div> -->
      <div id="emailHelp" class="form-text"></div>
    </div>
    <div class="mb-3" > 
      <label for="exampleInputEmail1" class="form-label" >Your order </label>
      <input   type="text"  class="form-control"  formControlName="Order"  placeholder="Your Order ">
      <div id="emailHelp" class="form-text"></div>
    </div>
    <!-- <div class="mb-3" > 
      <label for="exampleInputEmail1" class="form-label" >Grand Total </label>
      <input   type="text"  class="form-control"  formControlName="GrandTotal"  placeholder="Your Order ">
      <div id="emailHelp" class="form-text"></div>
    </div> -->


    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"> Address</label>
      <input    type="text" class="form-control"   formControlName="Address" placeholder="Enter Address">
       <small *ngIf ="Address?.invalid && Address?.touched "  class="text-danger " > Address is Required</small>

      <div id="emailHelp" class="form-text"></div>
    </div>
    <!-- <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input [class.is-invalid]="Email?.invalid && Email?.touched " type="email" class="form-control"  formControlName="Email" placeholder="We'll never share your email with anyone else." >
      <div *ngIf="Email?.invalid && Email?.touched">
        <small *ngIf="Email?.errors?.['required']" class="text-danger " > Name is Required</small>
        <small *ngIf="Email?.errors?.['email']" class="text-danger " > It should be of Email format</small>
      </div>
      <div id="emailHelp" class="form-text"></div>
    </div> -->
   
    <p class="text-white  fw-bold">
     GrandTotal {{grandTotal}}
    </p>
    
    
    <button type="submit" class="btn btn-primary" (click)="EmptyCart(LoginUserDetails.id)">Place Order </button>
  </form>

</div>
 





