<div class="container2">
  <h3 class="heading container mt-5 pt-5">Add Restaurant Details</h3>
  <div
    *ngIf="alert"
    class="alert alert-success alert-dismissible fade show"
    role="alert"
  >
    <strong> Success!</strong> Your order has been placed
    <button
      (click)="CloseAlert()"
      type="button"
      class="close"
      data-dismiss="alert"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="CheckoutForm" (ngSubmit)="CollectOrder()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name </label>
      <input
        type="text"
        class="form-control"
        formControlName="CustomerName"
        placeholder="Enter Your Name Here"
      />

      <div id="emailHelp" class="form-text"></div>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Your order </label>
      <input
        type="text"
        class="form-control"
        formControlName="Order"
        placeholder="Your Order "
      />
      <div id="emailHelp" class="form-text"></div>
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"> Address</label>
      <input
        type="text"
        class="form-control"
        formControlName="Address"
        placeholder="Enter Address"
      />
      <small *ngIf="Address?.invalid && Address?.touched" class="text-danger">
        Address is Required</small
      >

      <div id="emailHelp" class="form-text"></div>
    </div>

    <p class="text-white fw-bold">GrandTotal {{ grandTotal }}</p>

    <button
      type="submit"
      class="btn btn-primary"
      (click)="EmptyCart(LoginUserDetails.id)"
    >
      Place Order
    </button>
  </form>
</div>
