.container2::before{
    content: "";
    position: absolute;
    background: url( '/assets/checkout.jpg') no-repeat center center/cover;
    height: 100%;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
}