<div class="container2">
<h3 class="heading">Edit form</h3>

<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong> Success!</strong> Data has been updated Successfully
    <button (click)="CloseAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<form [formGroup]="EditForm" (ngSubmit)='CollectData()' >
  <div class="mb-3" > 
    <label for="exampleInputemail1" class="form-label" >name </label>
    <input [class.is-invalid]="name?.invalid && name?.touched "  type="text"  class="form-control"  formControlName="name"  placeholder="Enter Your name Here">
    
    <!-- <small  [class.d-none]="name?.valid || name?.untouched"  class="text-danger " > name is Required</small> -->
    <!-- using ngIf for conditionally showing msg nd not d-none class -->

    <div *ngIf="name?.invalid && name?.touched">
    <small *ngIf="name?.errors?.['required']" class="text-danger " > name is Required</small>
    <small *ngIf="name?.errors?.['minlength']" class="text-danger " > Minimum characters should be 3</small>
    <small *ngIf="name?.errors?.['pattern']" class="text-danger " >only a-z ,A-Z character can be used</small>
  </div>
    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="exampleInputemail1" class="form-label"> address</label>
    <input  [class.is-invalid]="address?.invalid && address?.touched "  type="text" class="form-control"   formControlName="address" placeholder="Enter address">
     <small  [class.d-none]="address?.valid || address?.untouched"  class="text-danger " > address is Required</small>

    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="exampleInputemail1" class="form-label">email address</label>
    <input [class.is-invalid]="email?.invalid && email?.touched " type="email" class="form-control"  formControlName="email" placeholder="We'll never share your email with anyone else." >
    <div *ngIf="name?.invalid && name?.touched">
      <small *ngIf="email?.errors?.['required']" class="text-danger " > name is Required</small>
      <small *ngIf="email?.errors?.['email']" class="text-danger " > It should be of email format</small>
    </div>
    <div id="emailHelp" class="form-text"></div>
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"> imageUrl</label>
    <input    type="text" class="form-control"   formControlName="imageUrl" placeholder="Enter address">

    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="form-check">
    <input    class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
    <label class="form-check-label" for="flexCheckChecked">
      Favourite
    </label>
  </div>
    
    
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>