<div class="container">
  <h2 class="heading">Restaurant list</h2>

  <div id="search" class="col-sm-12 mx-auto">
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        placeholder="Search by keywords"
        [(ngModel)]="nameSearch"
      />
      <label for="search"> Search by keywords</label>
    </div>
  </div>

  <div class="row p-2 justify-content-center text-centre">
    <!-- <div class="columns" > -->
    <div
      class="card col-sm-12 col-md-5 col-lg-3 m-2 mb-2 p-1"
      *ngFor="let item of collection | filter: nameSearch"
    >
      <div class="row">
        <img src="{{ item.imageUrl }}" class="card-img-top img" alt="image" />
      </div>
      <div class="row card-body text-centre">
        <span class="h5 card-title"> {{ item.name }}</span>
        <span class="favourite {{ item.favourite ? '' : 'not' }}">
          <i class="fa fa-heart" aria-hidden="true"></i>
        </span>
        <span class="text-centre">
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a
            routerLink="/RestoMenu/{{ item.name }}"
            class="btn btn-primary btn-sm"
            >Explore More</a
          >
        </span>
      </div>
      <!-- </div> -->
    </div>
  </div>
</div>
