/* 
.navbar{
    background-color: transparent !important;
} */




.table::before{
    content: "";
    position: absolute;
    background: url( '/assets/bg1.jpg') no-repeat center center/cover;
    height: 100%;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
}

.table{
background-color: #00000099;;
color: white;
}
.heading{
    color: white;
}