
<div class="container">
 <ng-container *ngIf="ItemLength!=0">
 <div class="container2">
  <h2 class="heading mt-5 pt-5 text-uppercase">Welcome! {{LoginUserDetails.name}} Your Order list</h2>
  
  <div class="container table-responsive-md">
  <table class="table">
    <thead>
      <tr class="tableHead">
       
        <th scope="col">Image</th>
        <th scope="col">Order</th>
        <th scope="col">Price</th>
        <th scope="col">Restaurant</th>
        <th scope="col">Date</th>
       
      </tr>
    </thead>
    <tbody class="tableBody">
      <tr *ngFor="let item of OrderItem ">
      
        <td><img class="foodimage" src="{{item.imageUrl}}" alt=""></td>

        <td>{{item.order}}</td>
        <td>{{item.price}}</td>
        <td>{{item.restaurant}}</td>
        
        <td>{{item.datetime | date }}</td>
      </tr>
        <tr >
          <td colspan="4"></td>
          <td><button routerLink="/orders" class="btn btn-primary">Explore More</button></td>
          <td font-weight="bold" > GrandTotal: {{grandTotal}}</td>
       
        </tr>
        
      
  
    </tbody>
  </table>
  
  </div>
  </div>
  </ng-container>

  <ng-container *ngIf="ItemLength==0  ">
    <div class="container mt-5 pt-5">
        <div class="card pt-5 mt-5">
            <h4 class="card-title">Your Orders</h4>
        </div>
        <div>
      </div>
     <div class="center">
        <img src="/assets/cart.png" alt="">
        <h5>You Have not placed any order yet</h5>
        <button routerLink="/orders" class="btn btn-primary">ADD NOW</button>
    
     </div>
    
    </div>
    </ng-container>
  </div>